

header h1 {


    font-size: 50px;
    color: blue;
    text-align: center;
    margin-top: 20px;

}



main {

    height: 85vh;
}

.container-caixas {

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.veiculo {

    background-color: rgb(10, 12, 99);
    width: 15%;
    height: 200px;
    margin: 0 0 0 20px;
    border-radius: 15px;
}

.veiculo h3 {

    color: white;
    text-align: left;
    background-color: rgb(53, 52, 52);
    padding: 10px;

}

.veiculo select {

    margin: 20px;
    height: 40px;
    width: 70%;
    color: blue;
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 7px;
    border: solid rgb(53, 52, 52);
    outline: none;
    
}



.dashboard-caixas {

    background-color: rgb(10, 12, 99);
    width: 15%;
    height: 200px;
    margin: 0 0 10px 20px;
    border-radius: 15px;

}


.dashboard-caixas h3 {

    color: white;
    text-align: left;
    background-color: rgb(53, 52, 52);
    padding: 10px;

}

.quantidades {

    color: white;
    font-size: 30px;
    margin-left: 20px;

    
}


.unidades {

    color: gray;
    font-size: 10px;
}




footer table {

 
    background-color: rgb(1, 1, 102);
    color: white;
    width: 100%;
    height: 80px;
      
}

footer th {

    padding: 10px;
}


.dadosCarro {

   text-align: center;
   background-color:white;
   color: black;

  
}

.dadosCarro input {

    margin-top: 15px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.parte-inferior {


  
    background: rgb(1, 1, 102);
    height: 10px;
    
}

